{% extends 'base.html' %}

{% block content %}

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y" style="min-height:84vh">



    <!-- ============================ COMPONENT LOGIN   ================================= -->
        <div class="card mx-auto" style="max-width: 380px; margin-top:100px;">
          {% include 'includes/alerts.html' %}
          <div class="card-body">
          <h4 class="card-title mb-4">¿Olvidaste tu contraseña?</h4>
          <form action="{% url 'forgotPassword' %}" method="POST">
              {% csrf_token %}

              <div class="form-group">
                 <input type="email" class="form-control" placeholder="Escribe aquí tu correo electrónico" name="email" >
              </div> <!-- form-group// -->

              <div class="form-group">
                  <a href="{% url 'login' %}" class="float-right">¿Ya tienes una cuenta? Inicia sesión</a>

              </div> <!-- form-group form-check .// -->
              <div class="form-group">
                  <button type="submit" class="btn btn-primary btn-block"> Enviar </button>
              </div> <!-- form-group// -->
          </form>
          </div> <!-- card-body.// -->
        </div> <!-- card .// -->

         <p class="text-center mt-4">¿No tienes una cuenta? <a href="{% url 'register' %}">Registrate</a></p>
         <br><br>
    <!-- ============================ COMPONENT LOGIN  END.// ================================= -->


    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock %}
